



	<body>
		<div  class= "centerdiv">


					<%= form_for @photo, html: {multipart: :true} do |f| %>

					<div>
					  <%= f.label :image, 'Choose Image' %>
					  <%= f.file_field :image %>
					  <%= f.text_field :title %>
					</div>
					<div>
					  <%= f.submit 'Add' %>
					  <% end %>
					</div>


					<div id="fb-root"></div>
					<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="true" data-auto-logout-link="true"></div>
					<div id="status">	
					<div class="fb-like" data-width="450"> </div>
					</div>
		</div>
	</body>